<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycms.entity.CmsOrgLegBranches">
    <!-- 插入操作 -->
	<insert id="add" parameterType="orgLegBranches">
	    insert into org_leg_branches(uid, title) values(#{uid}, #{title})
	</insert>
	
	<resultMap type="orgLegBranches" id="orgLegBranchesMap">
	<id property="uid" column="uid" />	
	<result property="title" column="title"></result>
	</resultMap>
	
	<select id="findById" resultMap="orgLegBranchesMap" parameterType="long">
	  select 
	  	*
	  from 
	  	org_leg_branches
	  where 
	  	uid=#{id}
	</select>
	
	<update id="update" parameterType="orgLegBranches">
	  update org_leg_branches set title=#{title} where uid=#{uid}
	</update>
	
	<select id="findByKey" resultType="orgLegBranches" parameterType="map">
	  select * from org_leg_branches 
	  <where>
	    
	    
	  </where>
	  order by uid desc limit #{showPages},#{pageSize} 
	</select>

	<select id="findByKeyTotal" resultType="int" parameterType="map">
	  select count(*) from org_leg_branches 
	  <where>
	    
	  </where>
	</select>
	
	<!-- 删除操作 -->
	<delete id="delete" parameterType="long">
	  delete from org_leg_branches where uid=#{id}
	</delete>
</mapper>    